body{
  background-color: #b1c176;
  }

  .container{
  background-color:aquamarine;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  }

  input[type=text], select {
  width: 80%;
  color:blue;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
  }

  input[type=password], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border:1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
  }

  input{
    background-color:blanchedalmond;
  }
  button:hover {
  background-color: #45a049;
  }

  button{
    margin-bottom:1.02rem;
    border-radius: 6px;
    padding:8px;
    width: 100px;
    background-color: burlywood;
  }

  .header{
  width: 95%;
  background-color: rgb(243, 240, 243);
  margin-left: 25%;
  width: 50%;
  padding: 20px 30px;
  margin-top: 5%;
  color:red;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.20);
  }

  .ui-define{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.09rem;
  }